<h3>Deactivated Quote Requests</h3>

{{#if quotes}}

   <div class="quotes">
       {{#each quotes}}
           <li><h3>{{this.name}}</h3><strong>request date:</strong> {{this.quoteDate}} <br><strong>active status:</strong> {{this.status}}</li>
       {{/each}}
   </div>

{{else}}

   <p>No inactive quotes currently exist.</p>

{{/if}}

<br>
<br>
<br>
<button onclick="window.location.href='/quote'" class="btn btn-primary">Back to Active Quotes</button>





