<head>
  <style>
      body {
          background-color: black;
      }

      .jumbotron {
          background-image: url("../images/img_starry_sky_crop.jpg");
          text-align: center;
          background-position: center;
          background-size: cover;
          position: relative;
          color: white;
          font-family: 'Lucida Console';
          z-index: 10;
          padding-top:5%;
          height: 300px;
      }

      #jumbotronText {
          bottom: 0px;
          position: absolute;
          margin: auto;
          text-align: left;
          width: 100%;
          margin-bottom: 15px;
       }
  </style>
</head>


<div class="jumbotron" id="cover">

    <div id="jumbotronText">
        <h1>James Houck</h1>
        <font style="font-size:1.25em">systems analyst | developer | business intelligence</font>
    </div>

</div>

<div class="container">
    <button onclick="window.location.href='/login'" class="btn btn-primary btn-lg">Submit/View a Quote Request!</button>
</div>



