<div class="jumbotron" id="cover" style="height: 300px">

    <div id="jumbotronText">
        <h1>James Houck</h1>
        <span style="font-size:1.25em">systems analyst | developer | business intelligence</span>
    </div>

</div>

<div class="container">
    <br><br>
    <div class="row">
        <div class="containerText">
            <p>
                Please click the button below to either log in or sign up for a user account. After you log in, you will be able to view/manage
                your quote requests.
            </p>
            <br>
            <br>
            <button onclick="window.location.href='/login'" class="btn btn-primary btn-lg">Click to Get Started!</button>
        </div>
    </div>

</div>



