<h2>Log In to your Account</h2>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form method="post" action="/login">
    Username: <input name="username">
    Password: <input type = "password" name="password">

    <input type="submit" value="Log In">
</form>

<p>
    If you don't have an account, you can
    <a href="/signup">Sign up here</a>
</p>

<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab">sign in</a></li>
                        <li role="presentation"><a role="tab" aria-controls="profile" href="#Section2" data-toggle="tab">sign up</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-mail</label>
                                    <input class="form-control" id="exampleInputEmail1" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input class="form-control" id="exampleInputPassword1" type="password">
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-default" type="submit">Sign in</button>
                                </div>
                                <div class="form-group forgot-pass">
                                    <a href="#">forgot your password?</a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="Section2" role="tabpanel">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Full Name</label>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input class="form-control" type="password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Retype Password</label>
                                    <input class="form-control" type="password">
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-default" type="submit">Sign up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
