<h2>{{title}}</h2>

<br>
<br>

<!--*** display a welcome message with the authenticated users name ***-->
{{#if username}}
    <p>Hello {{username}}, welcome.</p>
{{/if}}

<!--*** add a quote request section ***-->
<div class="add-quote">
    <h2>Add a New Quote Request</h2>
    <form id="addQuote" action="/add" method="post">
        <input id="quote-name" name="quoteName" placeholder="enter name">
        <input id="user-id" name="id">
        <input id="add-quote-btn" name="add" type="submit" value="add">
    </form>
</div>

<br>
<br>

<!--*** view a list of submitted quote requests ***-->
<h2>Submitted Quote Requests</h2>
<div id="quote-list">
    <ol>
        {{#each quotes}}
            <li>{{this.name}}</li>
        {{/each}}
    </ol>
</div>

<br>
<br>


<!--*** log out link ***-->
<a href="/logout">Log out</a>